doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->


  head
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    /! Use title if it's in the page YAML frontmatter
    title= current_page.data.title || "Q.Style Template"
    meta content="" name="description"
    meta content="width=device-width" name="viewport"

    /! Place favicon.ico and apple-touch-icon.png in the root directory

    link href="css/application.css" rel="stylesheet"
    script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"


  body

    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->


    = partial "partials/header"

    = yield

    = partial "partials/footer"






    script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"

    javascript:
      | window.jQuery || document.write('<\/script>')

    = partial "partials/GA"
