<!-- footer -->
  <footer>
    <div class="container">
      <div class="footer_info">

        <% data.footer.each do |f| %>
          <p><%= f.content %></p>
        <% end %>

      </div>
    </div>
  </footer>
