<!-- footer -->
  <footer>
    <div class="footer_inner">

      <div class="container">
        <div class="footer_info">

          <div class="line1">
            <span class="left">開放時間：週二至週六 09:00～21:00、週日 09:00～18:00　週一及國定假日休館</span>
            <span class="right">[COUNTER]</span>
          </div>
          <div class="line2">
            <span class="left">電話：(02) 2939-3088　傳真：(02) 2939-2279　地址：<a href="#">11664 台北市文山區木新路二段156之1號（頂好超市樓上）</a></span>
            <span class="right">PERFORMING ARTS SCHOOL 36 ©2006 performing arts school 36 All rights reserved</span>
          </div>

        </div>
      </div>

    </div>
  </footer>
