<!-- header -->
  <div class="header">

    <!-- banner -->
    <div class="container">
      <div class="header_banner">
        <!-- facebook and back2home link icon -->
        <div class="header_banner-icons hidden-mobile">
          <% link_to 'https://www.facebook.com/pas36', :target => '_blank', :class => "trans-05s" do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>

          <% link_to './', :class => "trans-05s" do %>
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-home fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>

        </div>
        <div class="header_banner-logo">
          <div class="logo-wraper">
            <% link_to '/' do %>
              <%= image_tag 'header_logo.png', :class => 'img-responsive'%>
            <% end %>
          </div>
        </div>
        <div class="header_banner-subscribe hidden-mobile">
          <button class="subscribe-button" type="button">Subscribe | 訂閱</button>
        </div>
      </div>
    </div><!-- e/o banner -->

    <!-- navi bar -->
    <div class="container hidden-mobile">
      <nav>
        <ul>
          <!-- navi contents -->
          <% data.navi.each do |f| %>
          <li><%= nav_link f.title, f.link %></li>
          <% end %>
        </ul>
      </nav>
    </div><!-- e/o navi bar -->

  </div>
