// *************************************
//
//   pages/index
//
//
// *************************************

body
  background-image: image-url("asset/bg-paper.png")

button:focus
  outline: 0

button::-moz-focus-inner
  border: 0


// container setting
.container
  @extend %m0auto
  +container($w-mobile)
  +breakpoint($b-mobile)
    +container($w-pad)
  +breakpoint($b-pad)
    +container($w-desktop)
  +breakpoint($b-desktop)
    +container($w-large)

// header
.header
  position: relative
  width: 100%
  height: auto
  text-align: center

  .header_banner
    +span(12)
    background-color: $c-background
    padding: 1em 0
    border-top: 1em solid $c-red
    +breakpoint($b-mobile)
      margin-top: 1em

  .header_banner-icons
    +span(3)
    font-size: $fz-s
    padding-top: 1.2em
    a
      color: $c-atext
      &:hover
        text-decoration: none
        color: lighten($c-logo, 10%)
    .contact_us
      margin-left: 1em
  .header_banner-logo
    +span(12)
    .logo-wrapper
      width: 200px
      @extend %m0auto
    +breakpoint($b-mobile)
      +span(6)
  .header_banner-subscribe
    +span(3)
    padding-top: 1em
    .subscribe-button
      +sassy-button("flat", 5px, $fz-s, darken($c-red, 1%))

  nav
    height: 44px
    background-color: $c-background
    padding-top: 0.5em
  ul
    display: block
    list-style: none
    margin: 0
    +span(8)
    +push(2)
  li
    float: left
    +span(2)
    a
      color: $c-logo
      font-size: $fz-s
      +transition(color 0.5s)
      &:hover
        color: lighten($c-red, 5%)
        text-decoration: none
  li + li
    border-left: 1px solid lighten($c-logo, 30%)
  .active
    color: lighten($c-red, 5%)


// index
.index_slider
  @extend %slider

.index_news
  @extend %polaroid
  +span(12)
  padding: 0
  +breakpoint($b-mobile)
    padding: $polaroid $polaroid $polaroid 0
    margin-top: 0
    +span(7.5)
.index_facebook
  @extend %polaroid
  padding: 0 0 $polaroid/2 0
  +span(12)
  +breakpoint($b-mobile)
    padding: $polaroid 0 $polaroid/2 0
    margin-top: 0
    +span(4.5)
  .facebook_block
    width: 100%
    height: 500px
    margin: 0
    background-image: image-url("asset/exclusive_paper.png")
    +image-2x("../img/asset/exclusive_paper_@2X.png", 560px, 420px)

.index_main-inner
  background-color: $c-background
  min-height: 400px
  padding: $polaroid $polaroid 6px $polaroid


.index_banners
  margin-bottom: $polaroid
  .index_banner-unit
    +span(6)
    padding: 0 $polaroid/2
    margin-top: $polaroid/2
    +breakpoint($b-mobile)
      +gallery(2.4)

  .index_banner-inner
    background-color: #FFF
    padding: $polaroid/2

// contact
.contact_map
  margin-top: $polaroid
.contact_map-wrapper
  padding: $polaroid
  padding-bottom: $polaroid/2
  background-color: $c-background
  iframe
    width: 100%
    height: 200px
    border: 1px solid #ccc

// about
.page_title
  margin: $polaroid 0
  .page_title-inner
    background-color: $c-background
    padding: $polaroid
  .page_title-content
    position: relative
    background-color: darken($c-background, 30%)
    h2
      width: 100%
      position: absolute
      font-size: $fz-l
      color: $c-pagetitle
      text-align: center
      margin-top: 1.1em
      +text-shadow(0 -1px 1px $c-shadow)
      +breakpoint($b-mobile)
        margin-top: 2.3em
        font-size: $fz-xxl
      +breakpoint($b-pad)
        margin-top: 3em
      +breakpoint($b-desktop)
        margin-top: 4.2em

.about_tabs-wrapper
  +clearfix
  background-color: $c-background
  padding: $polaroid/2

.about_tabs-unit
  +span(12)
  ul
    padding: 0
    margin: 0
  li
    display: block
    text-align: center
    padding: $polaroid/2
  a
    padding: $polaroid
    display: block
    color: $c-atext
    background-color: rgba(#000, 0.1)
  +breakpoint($b-mobile)
    li
      +span(4)

.about_content
  margin-top: $polaroid
.about_content_wrapper
  padding: $polaroid
  background-color: $c-background
// course
.course_slider
  @extend %slider
  .nivo-caption
    text-align: center
    font-size: $fz-m
    background-color: $c-sliderCaptial
    top: 0
    +breakpoint($b-mobile)
      font-size: $fz-xl
      top: 150px
    +breakpoint($b-pad)
      font-size: $fz-xxl
      top: 200px
    +breakpoint($b-desktop)
      font-size: $fz-xxl
      top: 300px

.course_list
  margin-top: $polaroid

.course_list-wrapper
  background-color: $c-background
  padding: $polaroid
  color: $c-ptext
  .event_block
    @extend %mainBlock
  .course_block
    @extend %mainBlock
    margin-top: $polaroid

  .unit
    padding: $polaroid
    .unit-inner
      background-image: image-url("asset/paper_fibers.png")
      +image-2x("asset/paper_fibers_@2X.png", 410px, 410px)
    h3
      text-align: center
      font-size: $fz-l
      padding: 0.5em 0
      margin: 0
    & + .unit
      margin-top: $polaroid
    .mobile-photo
      padding: $polaroid
      +breakpoint($b-pad)
        +span(5)
    .description
      padding: $polaroid
      font-size: $fz-s
      p:last-child
        margin: 0
      +breakpoint($b-pad)
        +span(7)
    .readmore
      padding: $polaroid
      button
        width: 100%
      .b-event
        +sassy-button("simple", 3px, $fz-m, $c-event, $c-event, #333, "inset")
      .b-course
        +sassy-button("simple", 3px, $fz-m, $c-course, $c-course, #333, "inset")

    +breakpoint($b-mobile)
      +span(6)
      & + .unit
        margin-top: 0

  .event
    border-top: 1em solid $c-event
  .course
    border-top: 1em solid $c-course


// activities
.activities_slider
  @extend %slider

.activities_list
  margin-top: $polaroid
.activities_wrapper
  +clearfix
  background-color: $c-background
  color: $c-ptext
  .unit
    padding: $polaroid
    & + .unit
      margin-top: $polaroid
    .activity_inner
      border-top: 1em solid $c-activity
      background-image: image-url("asset/paper_fibers.png")
      +image-2x("asset/paper_fibers_@2X.png", 410px, 410px)
    h3
      text-align: center
      font-size: $fz-l
      padding: 0.5em 0
      margin: 0
      border-bottom: 1px solid #ccc
    .description
      font-size: $fz-s
      padding: $polaroid
      margin-top: 1em
      p:last-child
        margin: 0
    .gallery_container
      display: none
    .button
      padding: $polaroid
    .gallery_trigger
      width: 100%
      text-align: center
      +sassy-button("simple", 3px, $fz-m, $c-activity, $c-activity, #333, "inset")

    +breakpoint($b-mobile)
      +span(6)
      & + .unit
        margin: 0

// space
.spaces_content
  margin-top: $polaroid
  h3
    font-size: $fz-l
    text-align: center
  #templatemo_timeline .container-fluid
    margin-bottom: 0
    background-image: none
  #templatemo_timeline .right_timer span
    display: none
  +breakpoint($b-mobile)
    h3
      font-size: $fz-xl
    #templatemo_timeline .container-fluid
      background: url("../img/time_line_bg.jpg") repeat-y center top
    #templatemo_timeline .right_timer span
      display: block


// download
.download_list
  margin-top: $polaroid
.download_wraper
  padding: $polaroid
  background-color: $c-background
  color: $c-ptext

.category_block
  +clearfix
  border-top: 0.5em solid $c-download
  background-image: image-url("asset/paper_fibers.png")
  +image-2x("asset/paper_fibers_@2X.png", 410px, 410px)
  margin-bottom: $polaroid
  padding-bottom: $polaroid/2
  h3
    margin: $polaroid
    font-size: $fz-l

  .files_list
    margin: $polaroid
    font-size: $fz-s
  .file_unit
    padding: $polaroid/2
    .file_wrapper
      +clearfix
      background-color: rgba(#000, 0.1)
      padding: $polaroid

    .file_info
      +span(9)
      padding-right: $polaroid
      h4
        margin: 0
        font-size: $fz-l
    .file_type
      +span(3)
    .button
      margin-top: $polaroid
      button
        +span(12)
        margin-top: $polaroid
        +sassy-button("simple", 3px, $fz-m, $c-download, $c-download, #333, "inset")

    +breakpoint($b-mobile)
      +gallery(6)
    +breakpoint($b-desktop)
      +gallery(4)


.category_block:last-child
  margin-bottom: 0


// zen
.zen_main_content
  margin-top: $polaroid
.zen_main-wrapper
  background-color: $c-background
  padding: $polaroid
  color: $c-ptext
  h3
    text-align: center
    border-bottom: 5px solid #aaa
    padding-bottom: 0.2em
    margin-bottom: 1em
  p
    +breakpoint($b-mobile)
      +container(600px)
  .navi-buttons
    width: 100%
    +clearfix
    .back, .next
      +span(6)
      padding: $polaroid/2
    button
      width: 100%
      +sassy-button("flat", 3px, $fz-s, $c-grey, $c-grey, #eee, "inset")


// footer
footer
  margin-top: $polaroid
  margin-bottom: 1em
.footer_info
  background-color: $c-background
  min-height: 80px
  text-align: center
  color: $c-ptext
  font-size: $fz-xs
  padding: 1em 0 1em 0
  p
    margin: 0
    margin-bottom: 1em
  p:last-child
    margin-bottom: 0
