// *************************************
//
//   pages/index
//
//
// *************************************

body
  background-image: url("../img/bg-paper.png")

.container
  @extend %m0auto
  +container($w-mobile)
  +breakpoint($b-mobile)
    +container($w-pad)
  +breakpoint($b-pad)
    +container($w-desktop)
  +breakpoint($b-desktop)
    +container($w-large)


.header
  position: relative
  width: 100%
  height: auto
  text-align: center

  .header_banner
    +span(12)
    background-color: $c-background
    padding: 1em 0
    border-top: 1em solid $c-red
    +breakpoint($b-mobile)
      margin-top: 1em

  .header_banner-icons
    +span(3)
    font-size: $fz-s
    padding-top: 1.2em
    a
      color: $c-atext
      &:hover
        text-decoration: none
        color: lighten($c-logo, 10%)
  .header_banner-logo
    +span(12)
    .logo-wraper
      width: 200px
      @extend %m0auto
    +breakpoint($b-mobile)
      +span(6)
  .header_banner-subscribe
    +span(3)
    padding-top: 1em
    .subscribe-button
      +sassy-button("flat", 5px, $fz-s, darken($c-red, 1%))

  nav
    height: 44px
    background-color: $c-background
    padding-top: 0.5em
  ul
    display: block
    list-style: none
    margin: 0
    +span(8)
    +push(2)
  li
    float: left
    +span(2)
    a
      color: $c-logo
      font-size: $fz-s
      +transition(color 0.5s)
      &:hover
        color: lighten($c-red, 5%)
        text-decoration: none
  li + li
    border-left: 1px solid lighten($c-logo, 30%)
  .active
    color: lighten($c-red, 5%)


.index_slider
  width: 100%
  .slider-wrapper
    @extend %polaroid
    background-color: $c-background
  .nivo-controlNav
    margin-top: -20px
    +breakpoint($b-mobile)
      margin-top: -25px

.index_news
  @extend %polaroid
  +span(12)
  padding: 0
  +breakpoint($b-mobile)
    padding: $polaroid $polaroid $polaroid 0
    margin-top: 0
    +span(7.5)
.index_facebook
  @extend %polaroid
  padding: 0 0 $polaroid 0
  +span(12)
  +breakpoint($b-mobile)
    padding: $polaroid 0 $polaroid 0
    margin-top: 0
    +span(4.5)
.index_main-inner
  background-color: $c-background
  min-height: 400px


.index_banners
  .index_banner-unit
    +span(6)
    height: 80px
    margin-bottom: $polaroid
    padding: 0 $polaroid/2
    +breakpoint($b-mobile)
      +gallery(2.4)

  .index_banner-inner
    background-color: #FFF
    padding: $polaroid/2


footer
  margin-bottom: 1em
  margin-top: 3px
.footer_info
  background-color: $c-background
  min-height: 80px
  text-align: center
  color: $c-ptext
  font-size: $fz-xs
  padding: 1em 0 1em 0
  p
    margin: 0
    margin-bottom: 1em
  p:last-child
    margin-bottom: 0
