---
title: 表演 36 房 || 課程內容
banner: ""
feature_img: "/img/courses/detail-001.jpg"
description: 「優人擊鼓系統訓練課程」是「優人神鼓」歷經十年實際訓練後的成果，強調「全面性」培育表演者，將藝術所具備的「技術」與內在精神的「素質」同時開發與發展，在自己的寧靜中體會生命中最撼動的聲音。
---
<!-- show/news.html -->


  <!-- content area -->
  <div class="show_main_content">
    <div class="container">
      <div class="zen_main-wrapper">

        <!-- title -->
        <h3><%= data.course.id001.title %></h3>

        <!-- content -->
        <div class="show_image">
          <img class="img-responsive" src="<%= data.course.id001.img %>" alt="">
        </div>

        <div class="show_text">
          <% data.course.id001.content.each do |f| %>
          <p><%= f %></p>
          <% end %>
        </div>

        <div class="show_info">

        </div>

        <div class="navi-buttons">
          <!-- <div class="back">
            <button>回上一頁</button>
          </div>
          <div class="next">
            <button>下一則</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
