---
title: 表演 36 房 || 活動花絮
---
<!-- activities.html -->

  <!-- slider -->
  <div class="course_slider">
    <div class="container">
      <%= partial "partials/activities_slider" %>
    </div>
  </div><!-- e/o slider -->

  <!-- activities list -->
  <div class="activities_list">
    <div class="container">

    </div>
  </div>
