---
title: 景文高中優人表演藝術班 || 聯絡我們
---
<!-- contact.html -->

  <!-- map -->
  <div class="contact_map">
    <div class="container">

      <div class="contact_map-wrapper">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3616.4609096591735!2d121.56894379999997!3d24.98444979999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442aa77b7212955%3A0x600145221f68cde!2zMTE25Y-w5YyX5biC5paH5bGx5Y2A5pyo5paw6Lev5LqM5q61MTU2LTHomZ8!5e0!3m2!1szh-TW!2stw!4v1409120761396" frameborder="0"></iframe>
      </div>

    </div>
  </div>


  <!-- contact info -->
  <div class="contact_info">
    <div class="container">

      <div class="contact_info-wrapper">
        <h3><%= image_tag 'asset/contact-title-logo.png' %> 如果您有任何問題或建議，歡迎您與我們聯絡！</h3>

        <div class="detail-wrapper">
          <div class="col-left">
            <p>地址：台北市文山區木新路二段156-1號(頂好超市後方) <br />電話：(02) 2939-3088#105、108、109<br />傳真：(02) 2939-2279 <br />E-mail： jwuperformingarts@gmail.com</p>
            <a href="mailto:jwuperformingarts@gmail.com" class="mail-us"><i class="fa fa-envelope-o fa-lg"></i> 寫信給我們</a>
          </div>
          <div class="col-right">
            <p><strong>交通資訊</strong>：</p>
            <p>＜公車＞<br />搭乘251、252、295、611、棕7、綠1、793、819，至「景文中學」站下車。 搭乘236至「永安街」站下車，走路三分鐘可達。</p>
            <p>＜捷運＞<br />1. 捷運木柵線「木柵站」，轉乘公車251、252、棕7到「景文中學」站下車。<br />2. 捷運新店線「七張站」，轉乘綠1或至對面轉252、793、819，到「景文中學」站下車。</p>
            <p>＜自行開車＞<br />1. 參考地標：景文中學、伯大尼育幼院、政大後門恆光橋。 <br />2. 走北二高可由「新店」交流道下，左轉經平面道路至寶橋路右轉直走；或由「木柵」交流道下，右轉後直走。交流道下後約10分鐘即可到達。</p>
          </div>
        </div>
      </div>

    </div>
  </div>
