---
title: 表演 36 房
---
<!-- index.html -->

  <!-- slider -->
  <div class="index_slider">
    <div class="container">
      <%= partial "partials/slider" %>
    </div>
  </div><!-- e/o slider -->

  <!-- index main content => news and FB -->
  <div class="index_main">
    <div class="container">

      <!-- 最新消息 -->
      <div class="index_news">
        <div class="index_main-inner">

        </div>
      </div><!-- e/o 最新消息 -->

      <!-- facebook -->
      <div class="index_facebook">
        <div class="index_main-inner">
          <iframe class="facebook_block" src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpas36&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=266049590099572" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowTransparency="true"></iframe>
        </div>
      </div><!-- e/o facebook -->

    </div>
  </div>

  <!-- little banners -->
  <div class="index_banners">
    <div class="container">

      <% data.index.banner.each do |f| %>
      <div class="index_banner-unit">
        <div class="index_banner-inner">
          <img class="img-responsive" src="http://placehold.it/300x100" alt="placeholder">
        </div>
      </div>
      <% end %>

    </div>
  </div>
