---
title: 景文高中優人表演藝術班 || 招生資訊
banner: ""
feature_img: "/img/recurit/banner.jpg"
---
<!-- show/news.html -->

  <!-- content area -->
  <div class="show_main_content">
    <div class="container">
      <div class="zen_main-wrapper">

        <!-- title -->
        <h3>招生資訊</h3>

        <div class="banner-divider"></div>

        <!-- content -->
        <div class="show_image">
          <img class="img-responsive" src="/img/recurit/banner.jpg" alt="">
        </div>

        <div class="show_text">
          <p>◎術科考試科目：<br>
            <ol>
              <li>任選器樂（國樂、西樂擇一）自選曲一首（2分鐘），種類如下：<br>
                <ul>
                  <li>【中國傳統器樂】：彈撥類、擊弦類、擦弦類、吹管類、聲樂類、擊樂類。</li>
                  <li>【西洋器樂】：弦樂類、管樂類、擊樂類、鍵盤類、聲樂類。</li>
                </ul>
              </li>
              <li>自選肢體（拳術、舞蹈擇一）創意表演一種（2分鐘），種類如下：<br>
                <ul>
                  <li>【拳術】中華武術、少林武術、跆拳道、空手道、柔道。【舞蹈】芭蕾舞、現代舞、中國舞、流行街舞。</li>
                  <li>【舞蹈】芭蕾舞、現代舞、中國舞、流行街舞。</li>
                  <li>★若考生所演奏樂器或是肢體表現無上述種類者，需經過本校審核同意方可考試，否則不予計分。</li>
                  <li>★考生器樂演奏若需鋼琴伴奏，必須自備伴奏人員；音樂演奏需背譜。</li>
                </ul>
              </li>
              <li>現場音感測驗佔：擊鼓節奏聽打。</li>
              <li>體能潛力測驗佔：柔軟度測驗、彈跳力、協調度、反應能力。</li>
              <li>面試：包括自我介紹、個人未來讀書學習計畫……等。</li>
            </ol>
          </p>
          <p>◎對於本班招生、課程、學習或未來進路發展有任何疑問，請洽景文高中教務處張瑞貞組長（29390310#131），或優人基金會林子倫老師（29393088#108）。</p>
          <br>
          <a href="files/recurit.doc">下載招生簡章</a>
        </div>

        <div class="navi-buttons">
          <!-- <div class="back">
            <button>回上一頁</button>
          </div>
          <div class="next">
            <button>下一則</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
