<div class="spaces_content">
  <div class="container">
      <div id="templatemo_timeline" class="container_wapper">
          <h3>場館介紹</h3>
        <center>
          <div>
            <a href="#f1">1樓</a> | <a href="#f2">2樓</a> | <a href="#f3">3樓</a> | <a href="#f4">4樓</a> | <a href="#f5">5樓</a>
          </div>
        </center>
        <br>
          <div class="container-fluid">
          <a name="f1"></a>
              <div class="time_line_wap">
                  <div class="time_line_caption" >1樓</div>
                  <div class="time_line_paragraph">
              <h1><img class="img-responsive" src="img/1F.png"></h1>
              <p>
                <span class="glyphicon glyphicon-bookmark"></span><a href="#">服務台 Reception</a>
              </p>
              <p>
              位於永安藝文中心一樓，為表演36房的接待處，提供藝文資訊、課程諮詢、場地租借、總機、失物招領、及停車場業務等服務。
              </p>
              <p>
                <span class="glyphicon glyphicon-bookmark"></span><a href="#">停車場 Car Park</a>
              </p>
              <p>本館地下一樓停車場有提供月租和臨時停車的服務；其中機械車位，可提供民眾長期租用，而平面車位，可供參與活動或課程的民眾臨時停車，收費方式以每小時30元計。跟本館承租場地之活動主辦單位，可視活動需求，另洽臨停依次計費。
              </p>
                  </div>
              </div>
              <div class="time_line_wap">
            <a name="f2"></a>
                  <div class="time_line_caption" >2樓</div>
                  <div class="time_line_paragraph">
                      <h1><img class="img-responsive" src="img/2F.png"></h1>
                      <p>
                <span class="glyphicon glyphicon-bookmark"></span><a href="#">行政管理中心 Administration Center</a>
              </p>
              <p>
              表演36房行政部門的根據地，是這棟台北市最新藝文中心的基石。大樓系統維護、停車場以及各種空間租借，是屬於行政管理中心服務範圍。
              </p>
              <p>
                <span class="glyphicon glyphicon-bookmark"></span><a href="#">心靈健身房 Multi-functional Room</a>
              </p>
              <p>
              可做為藝文茶會、記者會、發表會、展覽、小型演出和講座等。花卉圖案的弧形屏風營造出具有層次的空間感，整排的落地窗外可看到寬闊的露天咖啡座。非常適合心靈健康課程。 開放文山區非營利組織和個人登記使用，進行非營利之公益或教學等活動項目，但不得有任何營利行為；須事先申請經社區委員會通過後，始可使用。
              <BR>
              <BR>面積：66坪
              <BR>容納：80人
              </p>
              <p>
              <img class="img-responsive" src="img/2fp1.png">
              </p>
                  </div>
              </div>

              <div class="time_line_wap">
            <a name="f3"></a>
                  <div class="time_line_caption">3樓</div>
                  <div class="time_line_paragraph">
                      <h1><img class="img-responsive" src="img/3F.png"></h1>
              <p>
                <span class="glyphicon glyphicon-bookmark"></span><a href="#">業務推廣部 The Department of Business Developmente</a>
              </p>
              <p>
              負責項目有，活動安排、教學內容設計、場地服務以及公關宣傳等，致力於將表演36房與民眾做最佳的結合。
              </p>
              <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">藝文小教室 Classroom 1</a>
                      </p>
                      <p>目前為景文高中優人表演藝術班術科教室
                      <BR>
              <BR>面積：10坪
              <BR>容納：約10人
              </p>
              <p>
              <img class="img-responsive" src="img/3fp2.png">
              </p>
              <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">藝文大教室 Classroom 2</a>
                      </p>
                      <p>落地窗的設計，陽光充足的午後，格外美麗。而教室型的設計 － 木質地板、活動式課桌椅、黑板，加上攜帶式投影設備，是個適合舉辦各項課程、講座、研討會及教育訓練的空間。
                      <BR>
              <BR>面積：16坪
              <BR>容納：約20人</p>
              <p>
              <img class="img-responsive" src="img/3fp3.png">
              </p>
              <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">舞蹈教室 Dance Studio</a>
                      </p>
                      <p>挑高、寬敞、明亮的舞蹈教室中，包括鏡子和木質地板，安靜的空間，可以舉辦瑜珈或舞蹈課程，亦適合各種表演藝術排練。
                      <BR>
              <BR>面積：36坪
              <BR>容納：約30人
              </p>
              <p>
              <img class="img-responsive" src="img/3fp4.png">
              </p>
                  </div>
              </div>
              <div class="time_line_wap">
            <a name="f4"></a>
                  <div class="time_line_caption">4樓</div>
                  <div class="time_line_paragraph">
                      <h1><img class="img-responsive" src="img/4F.png"></h1>
                      <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">基礎練功房  Martial Arts Roomo</a>
                      </p>
                      <p>台北市最豪華、最寬敞的體能訓練場地，四周的落地窗帶來陽光普照，不論要跑、要跳、要翻跟斗、要耍長槍、長棍都很適合。約80坪、挑高6米，可以容納70人進行體能訓練或比賽。四周的落地窗帶來陽光普照，再加上遠處的青山讓人心境開闊，就像與世無爭、潛心修鍊的俠士。
                      <BR>
              <BR>面積：約86坪
              <BR>容納：約80人
              </p>
              <p>
              <img class="img-responsive" src="img/4fp1.png">
              </p>
              <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">音樂能量房 Music Studio</a>
                      </p>
                      <p>作為音樂術科專用指導教室，具有寬敞的教學空間，完善的隔音設備，讓學習者得以在無干擾的環境中專注學習，兼具排練和演出的功能。
                      <BR>
              <BR>面積：約38坪
              <BR>容納：約30人
              </p>
              <p>
              <img class="img-responsive" src="img/4fp2.png">
              </p>
              <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">音樂練習室 Mini Music Studio</a>
                      </p>
                      <p>目前為景文高中優人表演藝術班術科教室
                      <BR>
              <BR>面積：約10坪
              <BR>容納：約10人
              </p>
              <p>
              <img class="img-responsive" src="img/4fp3.png">
              </p>
                  </div>
              </div>
              <div class="time_line_wap">
            <a name="f5"></a>
                  <div class="time_line_caption" >5樓</div>
                  <div class="time_line_paragraph">
                      <h1><img class="img-responsive" src="img/5F.png"></h1>
                      <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">36房頂小劇場 Experimental Theater</a>
                      </p>
                      <p>台北市所有的實驗劇場裡，這裡是最有空間感的一個。挑高9米、無樑柱，

      <br>在這裡，人與人之間不再有距離，可以彼此信任、共同分享藝術的純美；這是生活中一個玩耍創意與實踐夢想的空間。

      <br>台北市所有的實驗劇場裡，這裡是最有空間感的一個。挑高9米，約80坪的場地，可容納200人。此空間以「戲劇」為核心，發展出「專業展演」、「社區與教育」、「國際藝術交流」三大主題，這是專業表演藝術人才培訓之展演實習及觀摩交流的場所，同時也作為表演活動、影音放映、社區交流活動及大型典禮的多功能空間。
                      <BR>
              <BR>面積：約75坪
              <BR>容納：約100人
              </p>
              <p>
              <img class="img-responsive" src="img/5fp1.png">
              </p>

                  </div>
              </div>
              <!--div class="time_line_wap">
                  <div class="time_line_caption">6樓</div>
                  <div class="time_line_paragraph">
                      <h1>Ut enim ad minim veniam</h1>
                      <p>
                             <span class="glyphicon glyphicon-bookmark"></span> <a href="#">???</a>
                      </p>
                      <p>Duis lacinia leo erat, eu tincidunt mauris congue ut. Ut auctor turpis a sapien commodo, ac ultrices dui vehicula. Etiam in tristique felis. Sed eleifend turpis sed purus venenatis fringilla. <br><br> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vel sollicitudin eros, vel vulputate leo.</p>
                  </div>
              </div-->
          </div>
      </div>
  </div>
</div>
