---
title: 表演 36 房 || 場地租借
---
<div class="spaces_content">
    <div class="container">
      <div id="templatemo_timeline" class="container_wapper">
        <h3>空間介紹</h3>
        <div class="center-div" style="text-align: center">
          <h4 style="display: inline-block;">租借申請</h4>
          <a href="download.php">(請點我)</a>
        </div>
        <p style="text-align: center">
          本館挑空間挑高、是最明亮、寬敞的藝術人文空間，適合各項用途使用，歡迎租借。
        </p>
        <center>
        <div>
          <a href="#f1">1樓</a> | <a href="#f2">2樓</a> | <a href="#f3">3樓</a> | <a href="#f4">4樓</a> | <a href="#f5">5樓</a>
        </div>
        </center>
        <br>
        <div class="container-fluid">
          <a name="f1"></a>
          <div class="time_line_wap">
            <div class="time_line_caption" >1樓</div>
            <div class="time_line_paragraph">
              <h1><img class="img-responsive" src="img/1F.jpg"></h1>
              <h4>服務台 <i>Reception</i></h4>
              <p>
                一樓服務台位於頂好超市正後方，在這裡，可索取各種藝文資訊，現場隨時有服務人員，針對館舍導覽、洽詢、活動報名、課程繳費、場地租借、停車場租借等，提供全方位的親切服務。
              </p>
              <h4>停車場 <i>Car Park</i></h4>
              <p>本館地下一樓停車場有提供月租和臨時停車的服務；其中機械車位，可提供民眾長期租用，而平面車位，可供參與活動或課程的民眾臨時停車，收費方式以每小時30元計。跟本館承租場地之活動主辦單位，可視活動需求，另洽臨停依次計費。
              </p>
              <div class="back2top"><a href="download.php">我要租借</a>　<a href="#top">▲回到頁首▲</a></div>
            </div>
          </div>
          <div class="time_line_wap">
            <a name="f2"></a>
            <div class="time_line_caption" >2樓</div>
            <div class="time_line_paragraph">
              <h1><img class="img-responsive" src="img/2F.jpg"></h1>
              <h4>藝文閱覽室 <i>Mini Library</i></h4>
              <p>
                寬敞無柱，半圓形的獨特空間，可多元規劃各種展示呈現，為本館內主要展覽場地，開放藝文單位申請舉辦各類靜態展覽。
                <br>
                <br>面積：30坪
              </p>
              <p>
                <img class="img-responsive" src="img/2fp2-new.jpg">
              </p>
              <h4>心靈健身房 <i>Multi-functional Room</i></h4>
              <p>
                整排落地窗搭配木質地板，寬敞明亮，氣氛溫馨，適合舉辦藝文講座、心靈課程、工作坊，或小型演出、排練使用。
                <BR>
                <BR>面積：60坪
                <BR>2,800元/3.5小時
              </p>
              <p>
                <img class="img-responsive" src="img/2fp1.jpg">
              </p>
              <h4>露天音樂廣場 <i>Outdoor Stage</i></h4>
              <p>
                這是一個可容納50-80人的空中露台，並有燈光、舞台，白天眺望藍天、白雲和青山，晚上則有浪漫觀景燈光陪伴，是舉辦party和社交活動的最佳場所。
                <br>
                <br>面積：60坪
                <br>容納：約50人
              </p>
              <div class="back2top"><a href="download.php">我要租借</a>　<a href="about.php#comm">社區專案</a>　<a href="#top">▲回到頁首▲</a></div>
            </div>
          </div>
          <div class="time_line_wap">
            <a name="f3"></a>
            <div class="time_line_caption">3樓</div>
            <div class="time_line_paragraph">
              <h1><img class="img-responsive" src="img/3F.jpg"></h1>
              <h4>舞蹈教室 <i>Dance Studio</i></h4>
              <p>
                挑高、舒適的舞蹈教室，採光良好，備有鏡面牆，可以舉辦舞蹈或瑜珈課程，亦適合各種表演藝術排練。
                <br>
                <BR>面積：36坪
                <BR>1,800元/3.5小時
              </p>
              <p>
                <img class="img-responsive" src="img/3fp4-new.jpg">
              </p>
              <h4>藝文大教室 <i>Classroom 2</i></h4>
              <p>
                大片落地窗與木質地板，備有黑板，可另借活動式課桌椅，適合舉辦各項課程、讀書會、小型講座，或進行排練。
                <br>
                <BR>面積：16坪
                <BR>1,000元/3.5小時
              </p>
              <p>
                <img class="img-responsive" src="img/3fp3-new.jpg">
              </p>
              <div class="back2top"><a href="download.php">我要租借</a>　<a href="#top">▲回到頁首▲</a></div>
            </div>
          </div>
          <div class="time_line_wap">
            <a name="f4"></a>
            <div class="time_line_caption">4樓</div>
            <div class="time_line_paragraph">
              <h1><img class="img-responsive" src="img/4F.jpg"></h1>
              <h4>基礎練功房  <i>Martial Arts Roomo</i></h4>
              <p>
                無樑柱、挑高6米的寬敞空間，採光極佳，適合進行武術、體操、啦啦隊等體適能訓練活動，不必擔心天候問題。
                <br>
                <BR>面積：80坪
                <BR>2,800元/3.5小時
              </p>
              <p>
                <img class="img-responsive" src="img/4fp1-new.jpg">
              </p>
              <h4>音樂能量房 <i>Music Studio</i></h4>
              <p>
                完善的隔音設備，讓學習者得以在無干擾的環境中專注學習，適合音樂性教學活動或排練。
                <br>
                <BR>面積：約38坪
                <BR>1,800元/3.5小時
              </p>
              <p>
                <img class="img-responsive" src="img/4fp2-new.jpg">
              </p>
              <div class="back2top"><a href="download.php">我要租借</a>　<a href="#top">▲回到頁首▲</a></div>
            </div>
          </div>
          <div class="time_line_wap">
            <a name="f5"></a>
            <div class="time_line_caption" >5樓</div>
            <div class="time_line_paragraph">
              <h1><img class="img-responsive" src="img/5F.jpg"></h1>
              <h4>房頂小劇場 <i>Experimental Theater</i></h4>
              <p>
                無樑柱、挑高9米的黑盒子形式劇場空間，備有近50盞劇場專業燈具、音響系統、平臺鋼琴，以及200吋銀幕投影設備，適合戲劇、音樂、舞蹈等表演藝術演出、排練，以及舉辦大型講座、試映會、發表會、典禮等活動。
                <BR>
                <BR>面積：約75坪
                <BR>排練3,000元/3.5小時‧演出6,000元/3.5小時
              </p>
              <p>
                <img class="img-responsive" src="img/5fp1-new.jpg">
              </p>
              <div class="back2top"><a href="download.php">我要租借</a>　<a href="download.php">技術文件下載</a>　<a href="#top">▲回到頁首▲</a></div>
            </div>
          </div>
          <!-- <div class="time_line_wap">
            <div class="time_line_caption">6樓</div>
            <div class="time_line_paragraph">
              <h1>Ut enim ad minim veniam</h1>
              <p>
                <span class="glyphicon glyphicon-bookmark"></span> <a href="#">???</a>
              </p>
              <p>Duis lacinia leo erat, eu tincidunt mauris congue ut. Ut auctor turpis a sapien commodo, ac ultrices dui vehicula. Etiam in tristique felis. Sed eleifend turpis sed purus venenatis fringilla. <br><br> Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse vel sollicitudin eros, vel vulputate leo.</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
