---
title: 表演 36 房 || 場地租借
---
<div class="spaces_content">
  <div class="container">
    <div id="templatemo_timeline" class="container_wapper">
      <h3>空間介紹</h3>
      <div class="center-div" style="text-align: center">

        <a href="download.php"><h4>租借申請</h4></a>
      </div>
      <p style="text-align: center">
        本館挑空間挑高、是最明亮、寬敞的藝術人文空間，適合各項用途使用，歡迎租借。
      </p>
      <center>
      <div>
        <a href="#f2">2樓</a> | <a href="#f3">3樓</a> | <a href="#f4">4樓</a> | <a href="#f5">5樓</a>
      </div>
      </center>
      <br>
      <div class="container-fluid">
        <div class="time_line_wap">
          <a name="f2"></a>
          <div class="time_line_caption" >2樓</div>
          <div class="time_line_paragraph">
            <h2><img class="img-responsive" src="img/2fp2-new.jpg"></h2>
            <h4>藝文展覽室</h4>
            <p>
              寬敞無柱，半圓形的獨特空間，可多元規劃各種展示呈現，為本館內主要展覽場地，開放藝文單位申請舉辦各類靜態展覽。
              <br>
              <br>面積：30坪
            </p>
            <hr class="separator">
            <h2><img class="img-responsive" src="img/2fp1.jpg"></h2>
            <h4>心靈健身房 <i>Multi-functional Room</i></h4>
            <p>
              整排落地窗搭配木質地板，寬敞明亮，氣氛溫馨，適合舉辦藝文講座、心靈課程、工作坊，或小型演出、排練使用。
              <BR>
              <BR>面積：60坪
              <BR>2,800元/3.5小時
            </p>
            <div class="back2top"><a href="download.php">我要租借</a>　<a href="#top">▲回到上方▲</a></div>
          </div>
        </div>
        <div class="time_line_wap">
          <a name="f3"></a>
          <div class="time_line_caption">3樓</div>
          <div class="time_line_paragraph">
            <h2><img class="img-responsive" src="img/3fp4-new.jpg"></h2>
            <h4>舞蹈教室</h4>
            <p>
              挑高、舒適的舞蹈教室，採光良好，備有鏡面牆，可以舉辦舞蹈或瑜珈課程，亦適合各種表演藝術排練。
              <br>
              <BR>面積：36坪
              <BR>1,800元/3.5小時
            </p>
            <hr class="separator">
            <h2><img class="img-responsive" src="img/3fp3-new.jpg"></h2>
            <h4>藝文大教室</h4>
            <p>
              大片落地窗與木質地板，備有黑板，可另借活動式課桌椅，適合舉辦各項課程、讀書會、小型講座，或進行排練。
              <br>
              <BR>面積：16坪
              <BR>1,000元/3.5小時
            </p>
            <div class="back2top"><a href="download.php">我要租借</a>　<a href="#top">▲回到上方▲</a></div>
          </div>
        </div>
        <div class="time_line_wap">
          <a name="f4"></a>
          <div class="time_line_caption">4樓</div>
          <div class="time_line_paragraph">
            <h2><img class="img-responsive" src="img/4fp1-new.jpg"></h2>
            <h4>基礎練功房</h4>
            <p>
              無樑柱、挑高6米的寬敞空間，採光極佳，適合進行武術、體操、啦啦隊等體適能訓練活動，不必擔心天候問題。
              <br>
              <BR>面積：80坪
              <BR>2,800元/3.5小時
            </p>
            <hr class="separator">
            <h2><img class="img-responsive" src="img/4fp2-new.jpg"></h2>
            <h4>音樂能量房</h4>
            <p>
              完善的隔音設備，讓學習者得以在無干擾的環境中專注學習，適合音樂性教學活動或排練。
              <br>
              <BR>面積：約38坪
              <BR>1,800元/3.5小時
            </p>
            <div class="back2top"><a href="download.php">我要租借</a>　<a href="#top">▲回到上方▲</a></div>
          </div>
        </div>
        <div class="time_line_wap">
          <a name="f5"></a>
          <div class="time_line_caption" >5樓</div>
          <div class="time_line_paragraph">
            <h2><img class="img-responsive" src="img/5fp1-new.jpg"></h2>
            <h4>房頂小劇場</h4>
            <p>
              無樑柱、挑高9米的黑盒子形式劇場空間，備有近50盞劇場專業燈具、音響系統、平臺鋼琴，以及200吋銀幕投影設備，適合戲劇、音樂、舞蹈等表演藝術演出、排練，以及舉辦大型講座、試映會、發表會、典禮等活動。
              <BR>
              <BR>面積：約75坪
              <BR>排練3,000元/3.5小時‧演出6,000元/3.5小時
            </p>
            <div class="back2top"><a href="download.php">我要租借</a>　<a href="download.php">技術文件下載</a>　<a href="#top">▲回到上方▲</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
