---
title: 表演 36 房 || 禪鼓體驗
banner: ""
feature_img: "/img/zen/001.jpg"
---
<!-- show/news.html -->

  <%= partial "partials/title_with_bg_section" %>

  <!-- content area -->
  <div class="show_main_content">
    <div class="container">
      <div class="zen_main-wrapper">

        <!-- title -->
        <h3><%= data.zen.title %></h3>

        <!-- content -->
        <div class="show_image">
          <img class="img-responsive" src="<%= data.zen.img %>" alt="">
        </div>

        <div class="show_text">
          <% data.zen.content.each do |f| %>
          <p><%= f %></p>
          <% end %>
        </div>

        <div class="show_info">

        </div>
      </div>
    </div>
  </div>
