// *************************************
//
//   Basic layout
//   基本排版設定
//
// *************************************

// a row container
.qrow
  +break

// a row container
%span12
  +span(12)

%m0auto
  margin: 0 auto

%polaroid
  padding: $polaroid
  margin: $polaroid 0 0 0
// index

